{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
   <h1>{{ website }} Bienvenue !</h1>
   <img src="{{ asset('build/images/op2.jpg') }}" style="width:250px;height:250px" alt="One piece">
{% endblock %}
   
