{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <a href="{{ path('app_index') }}">
        Back home
    </a>
    <h1>All categories : </h1>
    <ul>
        {% for category in categories %}
                <li>{{category.name }}<li>
                {# <a href="{{ path("category_show", { title: category.name }) }}">Voir la fiche</a> #}
            </div>
        {% else %}
           <strong>Category not found.</strong>
        {% endfor %}
    </ul>

    
{% endblock %}