{% extends 'base.html.twig' %}

{% block title %}Programs into  #{{ category.name}}{% endblock %}

{% block body %}
<ul>
    {% for program in programs%}
        <li>{{program.title}} - {{program.synopsis}}</li>
    {% endfor %}
</ul>
    <a href="{{ path('category_index') }}">
        Back to categories
    </a>
{% endblock %}